<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhruvgupta.expensious" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ExpensiousApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"/>
        <activity
            android:name=".LoginActivity"/>
        <activity
            android:name=".AccountsActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".AddAccountActivity"/>
        <activity
            android:name=".AddBudgetActivity"/>
        <activity
            android:name=".BudgetsActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".AddPersonActivity"/>
        <activity
            android:name=".PersonsActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".PersonDialog"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".CategoryDialog"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".AddCategoryActivity"/>
        <activity
            android:name=".TransactionsActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".RecursiveActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".AddRecursiveActivity"/>
        <activity
            android:name=".AddTransactionsActivity"/>
        <activity
            android:name=".DetailedRecursive"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".CategoriesActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".ResetActivity"/>
        <activity
            android:name=".AccountsViewList"/>
        <activity
            android:name=".CurrencyViewList"/>
        <activity
            android:name=".Calculator"/>
        <activity
            android:name=".PersonsViewList"/>
        <activity
            android:name=".CategoriesViewList"/>
        <activity
            android:name=".AddLoanDebtActivity"/>
        <activity
            android:name=".LoanDebtActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".DetailedLoanDebt"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".DetailedAddLD"/>
        <activity
            android:name=".PieChartActivity"
            android:theme="@style/nLiveoDrawer"/>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/nLiveoDrawer"/>

        <service
            android:name=".RecursiveService" />
        <service
            android:name=".WebSyncService" />

        <receiver
            android:name=".RebootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
